lab_36/WinFormsApp/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Sum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mul">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MulResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MulResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="z" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetZResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetZ">
        <s:complexType />
      </s:element>
      <s:element name="GetZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetZResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="z" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddZResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MulZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="z" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MulZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MulZResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="z" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubZResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAppZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="z" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAppZResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAppZ">
        <s:complexType />
      </s:element>
      <s:element name="GetAppZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAppZResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAppZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="z" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAppZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAppZResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SumSoapIn">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="SumSoapOut">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="SubSoapIn">
    <wsdl:part name="parameters" element="tns:Sub" />
  </wsdl:message>
  <wsdl:message name="SubSoapOut">
    <wsdl:part name="parameters" element="tns:SubResponse" />
  </wsdl:message>
  <wsdl:message name="MulSoapIn">
    <wsdl:part name="parameters" element="tns:Mul" />
  </wsdl:message>
  <wsdl:message name="MulSoapOut">
    <wsdl:part name="parameters" element="tns:MulResponse" />
  </wsdl:message>
  <wsdl:message name="SetZSoapIn">
    <wsdl:part name="parameters" element="tns:SetZ" />
  </wsdl:message>
  <wsdl:message name="SetZSoapOut">
    <wsdl:part name="parameters" element="tns:SetZResponse" />
  </wsdl:message>
  <wsdl:message name="GetZSoapIn">
    <wsdl:part name="parameters" element="tns:GetZ" />
  </wsdl:message>
  <wsdl:message name="GetZSoapOut">
    <wsdl:part name="parameters" element="tns:GetZResponse" />
  </wsdl:message>
  <wsdl:message name="AddZSoapIn">
    <wsdl:part name="parameters" element="tns:AddZ" />
  </wsdl:message>
  <wsdl:message name="AddZSoapOut">
    <wsdl:part name="parameters" element="tns:AddZResponse" />
  </wsdl:message>
  <wsdl:message name="MulZSoapIn">
    <wsdl:part name="parameters" element="tns:MulZ" />
  </wsdl:message>
  <wsdl:message name="MulZSoapOut">
    <wsdl:part name="parameters" element="tns:MulZResponse" />
  </wsdl:message>
  <wsdl:message name="SubZSoapIn">
    <wsdl:part name="parameters" element="tns:SubZ" />
  </wsdl:message>
  <wsdl:message name="SubZSoapOut">
    <wsdl:part name="parameters" element="tns:SubZResponse" />
  </wsdl:message>
  <wsdl:message name="SetAppZSoapIn">
    <wsdl:part name="parameters" element="tns:SetAppZ" />
  </wsdl:message>
  <wsdl:message name="SetAppZSoapOut">
    <wsdl:part name="parameters" element="tns:SetAppZResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppZSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppZ" />
  </wsdl:message>
  <wsdl:message name="GetAppZSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppZResponse" />
  </wsdl:message>
  <wsdl:message name="AddAppZSoapIn">
    <wsdl:part name="parameters" element="tns:AddAppZ" />
  </wsdl:message>
  <wsdl:message name="AddAppZSoapOut">
    <wsdl:part name="parameters" element="tns:AddAppZResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Sum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sum</wsdl:documentation>
      <wsdl:input message="tns:SumSoapIn" />
      <wsdl:output message="tns:SumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sub</wsdl:documentation>
      <wsdl:input message="tns:SubSoapIn" />
      <wsdl:output message="tns:SubSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mul</wsdl:documentation>
      <wsdl:input message="tns:MulSoapIn" />
      <wsdl:output message="tns:MulSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set z</wsdl:documentation>
      <wsdl:input message="tns:SetZSoapIn" />
      <wsdl:output message="tns:SetZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get z</wsdl:documentation>
      <wsdl:input message="tns:GetZSoapIn" />
      <wsdl:output message="tns:GetZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add z and return</wsdl:documentation>
      <wsdl:input message="tns:AddZSoapIn" />
      <wsdl:output message="tns:AddZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MulZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mul z and return</wsdl:documentation>
      <wsdl:input message="tns:MulZSoapIn" />
      <wsdl:output message="tns:MulZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sub z and return</wsdl:documentation>
      <wsdl:input message="tns:SubZSoapIn" />
      <wsdl:output message="tns:SubZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAppZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set z</wsdl:documentation>
      <wsdl:input message="tns:SetAppZSoapIn" />
      <wsdl:output message="tns:SetAppZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get z</wsdl:documentation>
      <wsdl:input message="tns:GetAppZSoapIn" />
      <wsdl:output message="tns:GetAppZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAppZ">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add z and return</wsdl:documentation>
      <wsdl:input message="tns:AddAppZSoapIn" />
      <wsdl:output message="tns:AddAppZSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap:operation soapAction="http://tempuri.org/Sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <soap:operation soapAction="http://tempuri.org/Mul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetZ">
      <soap:operation soapAction="http://tempuri.org/SetZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZ">
      <soap:operation soapAction="http://tempuri.org/GetZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddZ">
      <soap:operation soapAction="http://tempuri.org/AddZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MulZ">
      <soap:operation soapAction="http://tempuri.org/MulZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubZ">
      <soap:operation soapAction="http://tempuri.org/SubZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAppZ">
      <soap:operation soapAction="http://tempuri.org/SetAppZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppZ">
      <soap:operation soapAction="http://tempuri.org/GetAppZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAppZ">
      <soap:operation soapAction="http://tempuri.org/AddAppZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://tempuri.org/Sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap12:operation soapAction="http://tempuri.org/Sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <soap12:operation soapAction="http://tempuri.org/Mul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetZ">
      <soap12:operation soapAction="http://tempuri.org/SetZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZ">
      <soap12:operation soapAction="http://tempuri.org/GetZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddZ">
      <soap12:operation soapAction="http://tempuri.org/AddZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MulZ">
      <soap12:operation soapAction="http://tempuri.org/MulZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubZ">
      <soap12:operation soapAction="http://tempuri.org/SubZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAppZ">
      <soap12:operation soapAction="http://tempuri.org/SetAppZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppZ">
      <soap12:operation soapAction="http://tempuri.org/GetAppZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAppZ">
      <soap12:operation soapAction="http://tempuri.org/AddAppZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost/services/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost/services/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>